$brand-primary: #4492ae;
$brand-secondary: #8f9fb8;
$brand-border: #4e5e6f;
$brand-bg: #1a212b;
$brand-bg-light: #2c333d;
$brand-text: $brand-secondary;

$warning: #f0ad4e;
$changed: #333300;

$border-radius: 4px;
$border-radius-lg: 8px;

$padding-lg: 32px;
$padding: 16px;
$padding-sm: 8px;
$padding-xs: 4px;

$cms-width: 1024px;

$text-default: 16px;

@mixin contentBlock {
    max-width: $cms-width;
    margin: $padding auto;
    font-size: $text-default;
}

@mixin cmsPage {
    max-width: $cms-width;
    margin: $padding auto;
    font-size: $text-default;
    background-color: $brand-bg-light;
    padding: $padding;
    h3 {
        border-bottom: dashed 1px $brand-border;
    }
    li {
        margin-top: $padding-sm;
    }
    img {
        display: block;
        margin: $padding-sm auto;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    p {
        margin-bottom: $padding;
    }
}

@mixin infoBlock {
    div, h2 {
        max-width: $cms-width;
        margin: auto;
    }
}

$animationLength: 0.5s;

@mixin splashButtonLink {
    background-color: $brand-primary;
    color: #ffffff;
    border: 4px solid $brand-primary;
    border-radius: $border-radius * 2;
    padding: $padding-sm $padding;
    font-size: $text-default;
    font-weight: bold;
    cursor: pointer;
    transition: background-color $animationLength ease, color $animationLength ease, border $animationLength ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: $brand-bg;
        transition: background-color $animationLength ease, color $animationLength ease, border $animationLength ease;
    }
}

@mixin splashButton {
    a {
        @include splashButtonLink;
    }
}

:export {
    brandPrimary: $brand-primary;
    brandSecondary: $brand-secondary;
    brandBorder: $brand-border;
    brandBg: $brand-bg;
    brandBgLight: $brand-bg-light;
    brandText: $brand-text;

    borderRadius: $border-radius;
    borderRadiusLg: $border-radius-lg;

    padding: $padding;
    paddingSm: $padding-sm;
}
