@mixin contentBlock {
    border: solid 10px var(--borderColor);
    background-color: var(--bgLightColor);
    border-radius: var(--borderRadius);
    h1 {
        background-color: var(--bgColor);
        padding: var(--padding);
        margin: -16px -16px 16px -16px;
    }
}

@mixin cmsPage {
    max-width: var(--cmsWidth);
    margin: var(--padding) auto;
    font-size: var(--textSizeDefault);
    padding: var(--padding);
    h3 {
        border-bottom: dashed 1px var(--borderColor);
    }
    li {
        margin-top: var(--paddingSmall);
    }
    img {
        display: block;
        margin: var(--paddingSmall) auto;
        max-width: 100%;
    }
    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    p {
        margin-bottom: var(--padding);
    }
}

@mixin infoBlock {
    div, h2 {
        max-width: var(--cmsWidth);
        margin: auto;
    }
}

$animationLength: 0.5s;

@mixin splashButtonLink {
    background-color: var(--primaryColor);
    color: #ffffff;
    border: 4px solid var(--primaryColor);
    border-radius: var(--borderRadiusLarge);
    padding: var(--paddingSmall) var(--padding);
    font-size: var(--textSizeDefault);
    font-weight: bold;
    cursor: pointer;
    transition: background-color $animationLength ease, color $animationLength ease, border $animationLength ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: var(--bgColor);
        transition: background-color $animationLength ease, color $animationLength ease, border $animationLength ease;
    }
}

@mixin splashButton {
    a {
        @include splashButtonLink;
    }
}
